<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HikeApp"
        tools:targetApi="31">
        <activity
            android:name=".EditObservationActivity"
            android:exported="false" />
        <activity
            android:name=".DetailObservationActivity"
            android:exported="false" />
        <activity
            android:name=".AllObservationActivity"
            android:exported="false" />
        <activity
            android:name=".ObservationActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateHikeActivity"
            android:exported="false" />
        <activity
            android:name=".DetailHikeActivity"
            android:exported="false" />
        <activity
            android:name=".AddHikeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllHikeAcivity" />
    </application>

</manifest>